.m-tradingsg_medicineCompany .toggle {
    display:block;
}

.m-tradingsg_medicineCompany .yform {
    background-color: #fff;
    border: 0;
    padding: 0;
}

.m-tradingsg_medicineCompany.v-edit .c50l,
.m-tradingsg_medicineCompany.v-edit .c50r {
    width: 100%;
}

.m-tradingsg_medicineCompany .ym-columnar .ym-fbox-text label,
.m-tradingsg_medicineCompany .ym-columnar .ym-fbox-select label,
.m-tradingsg_medicineCompany #frmEdit .type-text label,
.m-tradingsg_medicineCompany #frmEdit .type-select label {
    width: 100%;
}

.m-tradingsg_medicineCompany #frmEdit .creModdate .type-text label{
    width: 20%;
}

.m-tradingsg_medicineCompany  .linkPortalWrapper div.header,
.m-tradingsg_medicineCompany  .linkPortalWrapper .linkPortalDataWrapper th{
    background-color: #F8F8F8;
}